<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RockPaperScissors!</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>home</a></li>
        <li><a href='/rps'>The Game</a></li>
      </ul>
    <%= yield %>
  </body>
</html>
